*{
  box-sizing: border-box;
}

.all {
  background-color: #800080;
}
.card {
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: 2rem;
  background-color: pink;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card img {
  width: 15%;
  height: auto;
  margin: 10px;
}

.card-title {
  font-weight: bold;
  color: #191970;
}

ul {
  display: flex;
}

li {
  margin-left: 2rem;
}
span {
  margin: 1rem;
  border: none;
  border-radius: 40px;
  padding: 5px;
  color: #00008B;
  font-size: 1rem;
}
.newsStyle {
  background-color: #FAEBD7;
}
.featuredStyle {
  background-color: black;
  color: #FAEBD7; 
}

.ul-wrapper {
  display: flex;
  justify-content: space-between;
}

.list1 li:first-child {
  list-style: none;
}
.list2 li {
  list-style: none;
  background-color: rgb(255, 255, 0, 0.5);
  color: DarkSlateBlue;
  padding: 0.2rem;
  border-radius: 8px;
  font-weight: 600;
}

.list2 {
  display: flex;
}

.left {
  align-items: center;
}